    <!DOCTYPE html>
    <html lang="ko">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Blog App;Sample Blog for educational purpose" />
        <meta name="author" content="RADA CORP" />
        <meta name="viewport"
            content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, width=device-width" />
        <title>Blog App</title>
    </head>

    <body>
        {% block content %}
        <p>Hi Sir, this is a sample Blog App.</p>
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    </body>

    </html>